<%- include('header.ejs') %>
<%- include('menu.ejs') %>

<div id="main-content">
  <h2>Lista de Itens</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Preço Unitário</th>
        <th>Categoria</th>
        <th>Fornecedor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% itens.forEach(item => { %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.nome %></td>
          <td><%= item.descricao %></td>
          <td><%= item.quantidade %></td>
          <td><%= item.preco_unitario %></td>
          <td><%= item.categoria %></td>
          <td><%= item.fornecedor %></td>
          <td><%= item.status %></td>
          <td>
            <button class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#editItemModal" data-id="<%= item.id %>" data-nome="<%= item.nome %>" data-descricao="<%= item.descricao %>" data-quantidade="<%= item.quantidade %>" data-preco_unitario="<%= item.preco_unitario %>" data-categoria="<%= item.categoria_id %>" data-fornecedor="<%= item.fornecedor_id %>" data-status="<%= item.status %>">Editar</button>
            <button class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="<%= item.id %>">Apagar</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer.ejs') %>
<%- include('modals.ejs') %>